<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Blog Lintech</title>
	<meta name="author" content="Joao Claudio">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/style.css">
</head>

<body>


	<section style="background-color:#f3f0f8; height: 100vh;">
		<h1 class="text-center" style="padding-top:1.5rem;">Faça seu cadastro</h1>
		<div class="container ">
			<form method="POST" th:action="@{/cadastro}" class="login-form" th:object="${usuario}">
				
				<div class="mb-3">
					<label  class="form-label">Nome:</label>
					<input type="text" class="form-control" th:field="*{nome}">
				</div>
				<div class="mb-3">
					<label  class="form-label">Nome de usuário:</label>
					<input type="text" class="form-control" th:field="*{username}">
				</div>
				
				<div class="mb-3">
					<label  class="form-label">Email:</label>
					<input type="email" class="form-control" aria-describedby="emailHelp" th:field="*{email}">
					<div id="emailHelp" class="form-text">Nós nunca iremos divulgar seu email.</div>
				</div>
				
				<div class="mb-3">
					<label class="form-label">Senha:</label>
					<input type="password" class="form-control" th:field="*{password}" >
				</div>
				
				<div class="mb-3">
					<label  class="form-label">O que você deseja ser no blog:</label>
					<select class="form-control" id="exampleFormControlSelect1" name= "cargoSelecionado" th:field="*{role}" >
						<option th:each="cargo: ${role} " th:value="${cargo}" th:text="${cargo}"></option>
					</select>
				</div>
			
				
				<button type="submit" class="btn btn-secondary btn-login" style="margin-bottom:0.5rem;">Cadastrar</button>
				<a th:href="@{/login}">
					<img src="img/back-arrow.png">
				</a>
			</form>


		</div>


	</section>

	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>